*{  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0% ;
    padding: 0%;
  
}
.header{
    background: linear-gradient(to right, #27343f 0%, hsl(281, 41%, 27%) 100%);
    width: 100%;
    margin: 0;
    padding: 10px;
}
.enlace{ 
       background-color: rgb(146, 33, 146);
        padding: 5px;
        border-radius: 10%;
        text-decoration: none;
        color:white;
        font-size: 1.1em;
}
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}
h3{
    color:white;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;

}
h4{
    color:white;
}

.slider{
 
    width: 100%;
    height: 100%;
 
    overflow: hidden;
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    
}
.slider ul{
    display: flex;
    animation: cambio 50s infinite alternate linear;
    width: 1000%;    
    
}

.slider li{
    width: 100%;
    list-style:none;

}
.slider img{
   width: 40%; 
   height: 60%;
   padding-top: 1%;
   margin-top: 13%;

}
footer{
    background: linear-gradient(to right, #27343f 0%, hsl(281, 41%, 27%) 100%);
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 3px;
    width: 100%;
    font-size: 1.1em;   
   /* position: fixed;
    left: 0%;
    bottom: 0%;*/

}

@keyframes cambio {
    0%{margin-left: 30%; margin-right: 30%;} 
    5%{margin-left: 30%; margin-right: 30%;}
    
    10%{margin-left: -70%; margin-right: -70%;}
    15%{margin-left: -70%; margin-right: -70%;}

    20%{margin-left: -170%; margin-right: -170%;}
    25%{margin-left: -170%; margin-right: -170%;}
    
    30%{margin-left: -270%; margin-right: -270%;}
    35%{margin-left: -270%; margin-right: -270%;}
    
    40%{margin-left: -370%; margin-right: -370%;}
    45%{margin-left: -370%; margin-right: -370%;}
    
    50%{margin-left: -470%; margin-right: -470%;}
    55%{margin-left: -470%; margin-right: -470%;}
    
    60%{margin-left: -570%; margin-right: -570%;}
    65%{margin-left: -570%; margin-right: -570%;}

    70%{margin-left: -670%; margin-right: -670%;}
    75%{margin-left: -670%; margin-right: -670%;}
    
    80%{margin-left: -770%; margin-right: -770%;;}
    85%{margin-left: -770%; margin-right: -770%;}
    
    90%{margin-left: -870%; margin-right: -870%;}
    100%{margin-left: -870%; margin-right: -870%;}

}
@media (max-width:400px){
    .enlace{
        padding: 3px;
        font-size: 0.9rem;}  
    h1{font-size: 1.5em;}
    h3{font-size: 1.1em;} 
    h4{
        font-size: 0.9em;
    }
 }
