body{  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*  box-sizing: border-box;*/
    margin: 0% ;
    padding: 0%;
   /* background-image: linear-gradient(-60deg, #1386f1 0%, #f4d03f 20%);*/
   /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); 
   /* background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
   /* background: linear-gradient(to right, #243949 0%, #517fa4 100%);*/
   /* background-image: linear-gradient(to right, #434343 0%, black 100%);*/
   /*background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);*/
  /* background:coral*/
}
.header{background-color: black;
    width: 100%;
    margin: 0;
    padding: 10px;
}
.enlace{ 
        background-color: rgb(64, 138, 80);
        padding: 5px;
        border-radius: 10%;
        text-decoration: none;
        color:white;
        font-size: 1.1em;
}
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding: 0.5em;
}
h3{
    color:white;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;

}

.slider{
    background-color:rgba(45, 210, 30, 0.548);
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    overflow: hidden;
    
    
}
.slider ul{
    display: flex;
    animation: cambio 50s infinite alternate linear;
    width: 1000%;    
    
}

.slider li{
    width: 100%;
    list-style:none;

}
.slider img{
   width: 30%; 
   height: 55%;
   padding-top: 1%;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 3px;
    width: 100%;
    font-size: 1.1em;   
    position: fixed;
    left: 0%;
    bottom: 0%;

}

@keyframes cambio {
    0%{margin-left: 30%; margin-right: 30%;} 
    5%{margin-left: 30%; margin-right: 30%;}
    
    10%{margin-left: -70%; margin-right: -70%;}
    15%{margin-left: -70%; margin-right: -70%;}

    20%{margin-left: -170%; margin-right: -170%;}
    25%{margin-left: -170%; margin-right: -170%;}
    
    30%{margin-left: -270%; margin-right: -270%;}
    35%{margin-left: -270%; margin-right: -270%;}
    
    40%{margin-left: -370%; margin-right: -370%;}
    45%{margin-left: -370%; margin-right: -370%;}
    
    50%{margin-left: -470%; margin-right: -470%;}
    55%{margin-left: -470%; margin-right: -470%;}
    
    60%{margin-left: -570%; margin-right: -570%;}
    65%{margin-left: -570%; margin-right: -570%;}

    70%{margin-left: -670%; margin-right: -670%;}
    75%{margin-left: -670%; margin-right: -670%;}
    
    80%{margin-left: -770%; margin-right: -770%;;}
    85%{margin-left: -770%; margin-right: -770%;}
    
    90%{margin-left: -870%; margin-right: -870%;}
    100%{margin-left: -870%; margin-right: -870%;}

}
@media (max-width:480px){
    .enlace{
        padding: 3px;
        font-size: 0.9rem;}    }
